<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <fieldName>@timestamp</fieldName>
                </timestamp>
                <message>
                    <fieldName>message</fieldName>
                </message>
                <!-- <mdc/><logLevel/><loggerName/> -->
            </providers>

            <jsonGeneratorDecorator class="net.logstash.logback.mask.MaskingJsonGeneratorDecorator">
                <defaultMask>***</defaultMask>
                <paths>authorization,jwt,token,password,email,iban</paths>
                <pathMask>
                    <paths>creditCard,cardNumber</paths>
                    <mask>####-####-####-####</mask>
                </pathMask>
                <!--
                <valueMasker class="net.logstash.logback.mask.RegexValueMasker">
                    <pattern>(?i)bearer\s+[A-Za-z0-9-_=]+\.[A-Za-z0-9-_=]+\.?[A-Za-z0-9-_.+/=]*</pattern>
                    <mask>***</mask>
                </valueMasker>
                -->
            </jsonGeneratorDecorator>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
